.background {
    height: 100vh;
}

.featured-vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured-horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.featured-name {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.featured-info {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.views, 
.year, 
.season {
    display: inline-block;
    margin-right: 15px;
}

.views {
    color: #46d369;
}
.year,
.season {
    color: white;
}

.featured-description {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    max-width: 40%;
}

.featured-button-play {
    margin-top: 15px;
}

.featured-button-play,
.featured-button-watchButton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 22px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: 0.3s all ease;
}
.featured-button-watchButton:hover,
.featured-button-play:hover {
    opacity: 0.7;
}

.featured-button-watchButton {
    background-color: #FFF;
    color: black;
}

.featured-button-play {
    background-color: #333;
    color: #FFF;
}

.featured-actor {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width:760px) {
    .background{
        height: 90vh;
    }

    .featured-name{
        font-size: 40px;
    }

    .featured-info{
        font-size: 16px;
    }

    .featured-description{
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }

    .featured-button-play, 
    .featured-button-watchButton{
        font-size: 16px;
    }

    .featured-actor{
        font-size: 14px;
    }
}